<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Fragment>
		<Product Id="*" Name="MyApplication" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
			<!-- Define the UI -->
			<Feature Id="ProductFeature" Title="MyApplication" Level="1">
				<ComponentGroupRef Id="ProductComponents" />
			</Feature>

			<UIRef Id="WixUI_Minimal" />

			<Property Id="MSIUSEREALADMINDETECTION" Value="1" />

			<Condition Message="Administrator privileges are required to install The Stoic Way. Please run the installer as an administrator.">
				<![CDATA[Privileged]]>
			</Condition>

			<!-- Define the registry key for autostart -->
			<ComponentGroup Id="RegistryGroup">
				<Component Id="AutostartComponent" Guid="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
					<RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
						<RegistryValue Id="AutostartValue" Name="The Stoic Way" Value="[INSTALLDIR]TheStoicWay.exe" Type="string" />
					</RegistryKey>
				</Component>
			</ComponentGroup>

			<!-- Define custom actions for adding/removing autostart -->
			<CustomAction Id="AddToAutostart" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start /wait &quot;[INSTALLFOLDER]TheStoicWay.exe&quot; --addToAutostart" Execute="deferred" Impersonate="no" Return="ignore" />
			<CustomAction Id="RemoveFromAutostart" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start /wait &quot;[INSTALLFOLDER]TheStoicWay.exe&quot; --removeFromAutostart" Execute="deferred" Impersonate="no" Return="ignore" />

			<InstallExecuteSequence>
				<Custom Action="AddToAutostart" After="InstallFinalize" Condition="ENABLE_AUTOSTART = 1 AND NOT Installed" />
				<Custom Action="RemoveFromAutostart" After="InstallFinalize" Condition="REMOVE_AUTOSTART = 1 AND NOT UPGRADINGPRODUCTCODE" />
			</InstallExecuteSequence>

			<!-- Define components and files -->
			<Directory Id="TARGETDIR" Name="SourceDir">
				<Directory Id="ProgramFilesFolder">
					<Directory Id="INSTALLFOLDER" Name="TheStoicWay">
						<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
							<Component Id="MainExecutableComponent" Guid="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
								<File Id="TheStoicWayExe" Source="bin\Debug\net7.0-windows\TheStoicWay.exe" KeyPath="yes" />
							</Component>
						</ComponentGroup>
					</Directory>
				</Directory>
			</Directory>
		</Product>
	</Fragment>
</Wix>
