<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MyApplication" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- Define the UI -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <Condition Message="Administrator privileges are required to install MyApplication. Please run the installer as an administrator.">
      <![CDATA[Privileged]]>
    </Condition>

    <Feature Id="ProductFeature" Title="MyApplication" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- Define the registry key for autostart -->
    <ComponentGroup Id="RegistryGroup">
      <Component Id="AutostartComponent" Guid="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Id="AutostartValue" Name="The Stoic Way" Value="[INSTALLDIR]TheStoicWay.exe" Type="string" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <!-- Define custom actions for adding/removing autostart -->
    <CustomAction Id="AddToAutostart" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start /wait &quot;[INSTALLFOLDER]TheStoicWay.exe&quot; --addToAutostart" Execute="deferred" Impersonate="no" Return="ignore" />
    <CustomAction Id="RemoveFromAutostart" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start /wait &quot;[INSTALLFOLDER]TheStoicWay.exe&quot; --removeFromAutostart" Execute="deferred" Impersonate="no" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="AddToAutostart" After="InstallFinalize">ENABLE_AUTOSTART = 1 AND NOT Installed</Custom>
      <Custom Action="RemoveFromAutostart" After="InstallFinalize">REMOVE_AUTOSTART = 1 AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <!-- Define components and files -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TheStoicWay">
          <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutableComponent" Guid="e5286842-ef9b-4ccc-a4da-765e0ffe38fa">
              <File Id="TheStoicWayExe" Source="path\to\TheStoicWay.exe" KeyPath="yes" />
            </Component>
          </ComponentGroup>
        </Directory>
      </Directory>
    </Directory>
  </Product>
</Wix>
