<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="PUBLISH_DIR_REF">
            <Directory Id="dirC83F9FCA5BB048E1DA7BD61909C7B507" Name="en" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishComponentGroup">
            <Component Id="cmp103CB84907828E10FF41B2A1E86CB92E" Directory="PUBLISH_DIR_REF" Guid="{F2EE7A38-5639-4960-8F45-30DD8279CFA0}">
                <File Id="fil51A6119E5F31769ECEF88832C7BE1370" KeyPath="yes" Source="SourceDir\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp553B5CF540B104C799ECBA737E9EBE5A" Directory="PUBLISH_DIR_REF" Guid="{264965F2-0DA5-407C-948B-D018D2CE9FF3}">
                <File Id="fil83B4D8195AFF5FCCB1D8F3DB87500A01" KeyPath="yes" Source="SourceDir\The Stoic Way.deps.json" />
            </Component>
            <Component Id="cmp59F7C8EC02E8AB9B2A2797CB6EF91198" Directory="PUBLISH_DIR_REF" Guid="{6EA5261A-1564-4812-8749-3F3F6F225387}">
                <File Id="filE9B40069973B0450CDE5D0B273266EA1" KeyPath="yes" Source="SourceDir\The Stoic Way.dll" />
            </Component>
            <Component Id="cmp5800F01DC4197343F7BA74AAEDD215EC" Directory="PUBLISH_DIR_REF" Guid="{6E3808B1-6810-4A94-BB31-7B5F986DC432}">
                <File Id="filA7428E589E35765F949E1162EEC7A86F" KeyPath="yes" Source="SourceDir\The Stoic Way.exe" />
            </Component>
            <Component Id="cmpC4069F88F378C7E902FB3CF2D5EDA667" Directory="PUBLISH_DIR_REF" Guid="{61AA269C-1752-4AFE-AFD7-AD041A2185C0}">
                <File Id="fil63AA1E52578B5B340B7F7F6909AA29CA" KeyPath="yes" Source="SourceDir\The Stoic Way.pdb" />
            </Component>
            <Component Id="cmp87CD2D695D1A12B96C9D0F69D3C2D91F" Directory="PUBLISH_DIR_REF" Guid="{F8FF5158-1CD1-4E62-884C-7DCB73005F77}">
                <File Id="filA8C6AA38802C1898872A9D2AD89F3706" KeyPath="yes" Source="SourceDir\The Stoic Way.runtimeconfig.json" />
            </Component>
            <Component Id="cmp45E07AF2AD3BD203FC433302E90E1D18" Directory="dirC83F9FCA5BB048E1DA7BD61909C7B507" Guid="{01563600-ED97-4D44-B18E-E99C490BB75D}">
                <File Id="filE6B50B9ABA078D0429A4502D75A140BD" KeyPath="yes" Source="SourceDir\en\The Stoic Way.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>